<section class="section service-department">
  <div class="container">
    <div class="section-header">
      <h3 class="section-header__title service-department__title">{{ post.get_field('department_title') }}</h3>
    </div>
    <div class="service-department__grid">
      {% for item in post.get_field('department_list') %}
        {% include 'partial/icon.twig' with {
          icon_class: 'icon_horizontal',
          title: item.content,
          image: item.image
        } %}
      {% endfor %}
    </div>
  </div>
</section>