.form-section
  position: relative
  overflow: hidden
  +py(30px, 45px)

  &__cloud
    +a()
    animation: cloudAnimation 15s linear infinite
    &_1
      +a(0, null, null, 20%)
      +h(90px)
      animation-delay: -3s
    &_2
      +h(40px)
      +a(20%, null, null, 70%)
      animation-duration: 10s
    &_3
      +a(30%, null, null, -10%)
      +h(100px)
      opacity: 0.5
    &_4
      +a(48%, null, null, 30%)
      +h(70px)
      animation-delay: 3s
      animation-duration: 5s
      opacity: 0.3

  &__title
    color: $color-brand-2

  &__grid
    display: grid
    grid-gap: 30px

  &__advantages
    display: grid
    grid-gap: 15px
    list-style: none
    padding-left: 0
    margin-top: 30px
    margin-bottom: 0

  &__subtitle
    font-weight: bold

  &__advantage
    position: relative
    padding-left: 45px
    svg
      +a(-10px, null, null, 0)

    &:nth-child(1) svg path,
    &:nth-child(6) svg path
      fill: $color-brand-2

    &:nth-child(2) svg path,
    &:nth-child(5) svg path
      fill: $color-brand-3

    &:nth-child(3) svg path,
    &:nth-child(4) svg path
      fill: $color-brand-1

  +min(sm)
    +py(45px)

    &__cloud
      display: block
      animation: cloudAnimation 15s linear infinite
      opacity: 1
      &_1
        +a(30px, null, null, 20%)
        +h(90px)
        animation-delay: -1s
      &_2
        +h(350px)
        +a(10%, null, null, 60%)
      &_3
        +a(30%, null, null, -13%)
        +h(250px)
      &_4
        +a(60%, null, null, 30%)
        +h(200px)
        animation-delay: 3s
        animation-duration: 5s

    &__grid
      grid-template-columns: 55% 40%
      &_center
        align-items: center

  +min(md)
    +py(120px, 80px)

    &__grid
      grid-template-columns: 67% 30%

    &__title
      margin-bottom: 20px
      padding-right: 45px

    &__subtitle
      margin-bottom: 50px
      &_size
        max-width: 420px

    &__advantages
      grid-template-columns: repeat(3, 1fr)
      &_2
        grid-template-columns: repeat(2, 1fr)
        grid-gap: 30px

    &__advantage
      font-size: 18px