<section class="section home-advantages">
  <div class="container">

    <div class="home-advantages__inner">
      <div class="home-advantages__title">
        Наши преимущества
      </div>
      <img src="{{ theme.link }}/static/img/plane.svg" alt="Plane" class="home-advantages__plane">
      <div class="home-advantages__row home-advantages__row_1">
        <div class="home-advantages__item">
          <div class="home-advantages__item-header">
            <div class="home-advantages__item-circle"></div>
            <div class="home-advantages__item-title">Комплекс услуг <br>в одном месте</div>
          </div>
          <div class="home-advantages__item-content">
            У нас можно получить все услуги, связанные с экологией: получить разрешительные документы, заказать проверку, просчитать риски и т.д.
          </div>
        </div>
        <div class="home-advantages__item">
          <div class="home-advantages__item-header">
            <div class="home-advantages__item-circle"></div>
            <div class="home-advantages__item-title">Комплекс услуг <br>в одном месте</div>
          </div>
          <div class="home-advantages__item-content">
            У нас можно получить все услуги, связанные с экологией: получить разрешительные документы, заказать проверку, просчитать риски и т.д.
          </div>
        </div>
        <div class="home-advantages__item">
          <div class="home-advantages__item-header">
            <div class="home-advantages__item-circle"></div>
            <div class="home-advantages__item-title">Комплекс услуг <br>в одном месте</div>
          </div>
          <div class="home-advantages__item-content">
            У нас можно получить все услуги, связанные с экологией: получить разрешительные документы, заказать проверку, просчитать риски и т.д.
          </div>
        </div>
      </div>
      <div class="home-advantages__river">
        <img src="{{ theme.link }}/static/img/river-horizontal.png" alt="River" class="home-advantages__river-image">
      </div>
      <div class="home-advantages__row home-advantages__row_2">
        <div class="home-advantages__item">
          <div class="home-advantages__item-header">
            <div class="home-advantages__item-circle"></div>
            <div class="home-advantages__item-title">Комплекс услуг <br>в одном месте</div>
          </div>
          <div class="home-advantages__item-content">
            У нас можно получить все услуги, связанные с экологией: получить разрешительные документы, заказать проверку, просчитать риски и т.д.
          </div>
        </div>
        <div class="home-advantages__item">
          <div class="home-advantages__item-header">
            <div class="home-advantages__item-circle"></div>
            <div class="home-advantages__item-title">Комплекс услуг <br>в одном месте</div>
          </div>
          <div class="home-advantages__item-content">
            У нас можно получить все услуги, связанные с экологией: получить разрешительные документы, заказать проверку, просчитать риски и т.д.
          </div>
        </div>
        <div class="home-advantages__item">
          <div class="home-advantages__item-header">
            <div class="home-advantages__item-circle"></div>
            <div class="home-advantages__item-title">Комплекс услуг <br>в одном месте</div>
          </div>
          <div class="home-advantages__item-content">
            У нас можно получить все услуги, связанные с экологией: получить разрешительные документы, заказать проверку, просчитать риски и т.д.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>