<section class="home-greeting">
  {% for i in range(1, 4) %}
    <img src="{{ theme.link }}/static/img/cloud.png" alt="Cloud" class="home-greeting__cloud home-greeting__cloud_{{ i }}">
  {% endfor %}
  <div class="container">
    <div class="home-greeting__grid">
      <div class="home-greeting__content">
        <h1 class="home-greeting__title">Комплексные решения в сфере экологии</h1>
        <h2 class="home-greeting__subtitle">для проектов любой сложности</h2>
        <ul class="home-greeting__advantages">
          <li class="home-greeting__advantage">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="38px" height="24px"><path fill-rule="evenodd" d="M32.585,10.479 C32.342,10.483 32.101,10.500 31.859,10.513 C31.775,10.524 31.242,10.568 31.047,10.612 C30.648,10.700 30.252,10.808 29.863,10.932 C29.597,11.018 28.532,11.562 29.590,10.996 C28.937,11.345 28.298,11.676 27.676,12.080 C27.612,12.121 27.575,12.150 27.526,12.185 C27.258,12.427 26.985,12.661 26.730,12.918 C26.449,13.199 26.206,13.520 25.926,13.800 C26.724,13.000 25.962,13.762 25.786,14.034 C25.603,14.314 25.433,14.601 25.272,14.894 C25.232,14.967 25.050,15.345 24.936,15.575 C24.865,15.767 24.775,16.004 24.755,16.066 C24.631,16.458 24.524,16.855 24.436,17.257 C24.365,17.584 24.351,18.716 24.364,17.526 C24.359,17.950 24.311,18.378 24.305,18.803 C24.260,21.714 21.974,23.868 19.139,23.995 C19.044,24.000 18.951,23.993 18.857,23.991 C18.846,23.991 18.835,23.995 18.824,23.995 C16.004,24.122 13.701,21.517 13.659,18.803 C13.655,18.557 13.638,18.313 13.625,18.068 C13.613,17.978 13.570,17.451 13.527,17.257 C13.439,16.856 13.332,16.457 13.208,16.066 C13.134,15.833 12.711,14.984 12.982,15.488 C12.692,14.938 12.405,14.395 12.066,13.867 C12.025,13.802 11.995,13.765 11.960,13.715 C11.720,13.447 11.488,13.173 11.233,12.918 C10.953,12.636 10.634,12.390 10.355,12.109 C11.152,12.911 10.393,12.146 10.123,11.968 C9.844,11.784 9.558,11.613 9.267,11.451 C9.195,11.411 8.819,11.229 8.591,11.114 C8.399,11.043 8.163,10.952 8.100,10.932 C7.711,10.808 7.315,10.699 6.916,10.612 C6.591,10.539 5.465,10.526 6.648,10.539 C6.226,10.534 5.801,10.486 5.378,10.479 C2.482,10.434 0.340,8.136 0.213,5.287 C0.089,2.513 2.675,0.053 5.378,0.095 C10.775,0.180 15.593,2.527 18.982,6.222 C22.370,2.527 27.189,0.180 32.585,0.095 C35.480,0.050 37.627,2.511 37.751,5.287 C37.877,8.121 35.286,10.437 32.585,10.479 ZM11.940,13.686 C11.753,13.426 11.703,13.411 11.940,13.686 ZM27.497,12.206 C27.236,12.395 27.220,12.446 27.497,12.206 Z"/></svg>
            <p>Более 10  лет работы
              в сфере экологического сопровождения деятельности предприятий</p>
          </li>
          <li class="home-greeting__advantage">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="38px" height="24px"><path fill-rule="evenodd" d="M32.585,10.479 C32.342,10.483 32.101,10.500 31.859,10.513 C31.775,10.524 31.242,10.568 31.047,10.612 C30.648,10.700 30.252,10.808 29.863,10.932 C29.597,11.018 28.532,11.562 29.590,10.996 C28.937,11.345 28.298,11.676 27.676,12.080 C27.612,12.121 27.575,12.150 27.526,12.185 C27.258,12.427 26.985,12.661 26.730,12.918 C26.449,13.199 26.206,13.520 25.926,13.800 C26.724,13.000 25.962,13.762 25.786,14.034 C25.603,14.314 25.433,14.601 25.272,14.894 C25.232,14.967 25.050,15.345 24.936,15.575 C24.865,15.767 24.775,16.004 24.755,16.066 C24.631,16.458 24.524,16.855 24.436,17.257 C24.365,17.584 24.351,18.716 24.364,17.526 C24.359,17.950 24.311,18.378 24.305,18.803 C24.260,21.714 21.974,23.868 19.139,23.995 C19.044,24.000 18.951,23.993 18.857,23.991 C18.846,23.991 18.835,23.995 18.824,23.995 C16.004,24.122 13.701,21.517 13.659,18.803 C13.655,18.557 13.638,18.313 13.625,18.068 C13.613,17.978 13.570,17.451 13.527,17.257 C13.439,16.856 13.332,16.457 13.208,16.066 C13.134,15.833 12.711,14.984 12.982,15.488 C12.692,14.938 12.405,14.395 12.066,13.867 C12.025,13.802 11.995,13.765 11.960,13.715 C11.720,13.447 11.488,13.173 11.233,12.918 C10.953,12.636 10.634,12.390 10.355,12.109 C11.152,12.911 10.393,12.146 10.123,11.968 C9.844,11.784 9.558,11.613 9.267,11.451 C9.195,11.411 8.819,11.229 8.591,11.114 C8.399,11.043 8.163,10.952 8.100,10.932 C7.711,10.808 7.315,10.699 6.916,10.612 C6.591,10.539 5.465,10.526 6.648,10.539 C6.226,10.534 5.801,10.486 5.378,10.479 C2.482,10.434 0.340,8.136 0.213,5.287 C0.089,2.513 2.675,0.053 5.378,0.095 C10.775,0.180 15.593,2.527 18.982,6.222 C22.370,2.527 27.189,0.180 32.585,0.095 C35.480,0.050 37.627,2.511 37.751,5.287 C37.877,8.121 35.286,10.437 32.585,10.479 ZM11.940,13.686 C11.753,13.426 11.703,13.411 11.940,13.686 ZM27.497,12.206 C27.236,12.395 27.220,12.446 27.497,12.206 Z"/></svg>
            <p>Сотрудничество
              с государственными органами центральной
              и территориальной  исполнительной власти,
              а также государственными и коммунальными предприятиями </p>
          </li>
          <li class="home-greeting__advantage">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="38px" height="24px"><path fill-rule="evenodd" d="M32.585,10.479 C32.342,10.483 32.101,10.500 31.859,10.513 C31.775,10.524 31.242,10.568 31.047,10.612 C30.648,10.700 30.252,10.808 29.863,10.932 C29.597,11.018 28.532,11.562 29.590,10.996 C28.937,11.345 28.298,11.676 27.676,12.080 C27.612,12.121 27.575,12.150 27.526,12.185 C27.258,12.427 26.985,12.661 26.730,12.918 C26.449,13.199 26.206,13.520 25.926,13.800 C26.724,13.000 25.962,13.762 25.786,14.034 C25.603,14.314 25.433,14.601 25.272,14.894 C25.232,14.967 25.050,15.345 24.936,15.575 C24.865,15.767 24.775,16.004 24.755,16.066 C24.631,16.458 24.524,16.855 24.436,17.257 C24.365,17.584 24.351,18.716 24.364,17.526 C24.359,17.950 24.311,18.378 24.305,18.803 C24.260,21.714 21.974,23.868 19.139,23.995 C19.044,24.000 18.951,23.993 18.857,23.991 C18.846,23.991 18.835,23.995 18.824,23.995 C16.004,24.122 13.701,21.517 13.659,18.803 C13.655,18.557 13.638,18.313 13.625,18.068 C13.613,17.978 13.570,17.451 13.527,17.257 C13.439,16.856 13.332,16.457 13.208,16.066 C13.134,15.833 12.711,14.984 12.982,15.488 C12.692,14.938 12.405,14.395 12.066,13.867 C12.025,13.802 11.995,13.765 11.960,13.715 C11.720,13.447 11.488,13.173 11.233,12.918 C10.953,12.636 10.634,12.390 10.355,12.109 C11.152,12.911 10.393,12.146 10.123,11.968 C9.844,11.784 9.558,11.613 9.267,11.451 C9.195,11.411 8.819,11.229 8.591,11.114 C8.399,11.043 8.163,10.952 8.100,10.932 C7.711,10.808 7.315,10.699 6.916,10.612 C6.591,10.539 5.465,10.526 6.648,10.539 C6.226,10.534 5.801,10.486 5.378,10.479 C2.482,10.434 0.340,8.136 0.213,5.287 C0.089,2.513 2.675,0.053 5.378,0.095 C10.775,0.180 15.593,2.527 18.982,6.222 C22.370,2.527 27.189,0.180 32.585,0.095 C35.480,0.050 37.627,2.511 37.751,5.287 C37.877,8.121 35.286,10.437 32.585,10.479 ZM11.940,13.686 C11.753,13.426 11.703,13.411 11.940,13.686 ZM27.497,12.206 C27.236,12.395 27.220,12.446 27.497,12.206 Z"/></svg>
            <p>Комплексная экологическая экспертиза любых объектов строительства, производства,
              добычи полезных ископаемых
            </p>
          </li>
        </ul>
      </div>
      <div class="home-greeting__form">
        <p class="home-greeting__form-title">Заполните
          форму связи</p>
        {{ function('do_shortcode', '[contact-form-7 id="47" title="Контактная форма - РУ"]') }}
      </div>
    </div>
  </div>
</section>