<section class="home-greeting">
  {% for i in range(1, 4) %}
    <img src="{{ theme.link }}/static/img/cloud.png" alt="Cloud" class="home-greeting__cloud home-greeting__cloud_{{ i }}">
  {% endfor %}
  <div class="container">
    <div class="home-greeting__grid home-greeting__grid_center">
      <div class="home-greeting__content">
        <div class="section-header__title home-greeting__title">
          {{ post.get_field('questions_title') }}
        </div>
        <h2 class="section-header__subtitle home-greeting__subtitle home-greeting__subtitle_size">
          {{ post.get_field('questions_subtitle') }}
        </h2>
      </div>
      {% include 'partial/landing-form.twig' with {
        title: options.form_title,
        form: options.form_shortcode
      } %}
    </div>
  </div>
</section>