<section class="home-services">
  {% include 'partial/clouds.twig' with {limit: 6, commonClass: 'home-services__cloud'} %}
  <div class="container">
    <div class="home-services__grid">
      {% for item in post.get_field('services') %}
        {% include 'partial/service-item.twig' with {
          custom_class: 'home-services__item',
          title: item.title,
          image: item.image,
          content: item.content,
          link: item.link
        } %}
      {% endfor %}
    </div>
  </div>
</section>