{% set item = {content: 'Получаем исходные данные об объекте'} %}
{% set items = [item, item, item, item, item, item, item, item, item, item, item, item] %}
<section class="section home-strategy">
  {% for i in range(1, 4) %}
    <img src="{{ theme.link }}/static/img/cloud.png" alt="Cloud" class="home-strategy__cloud home-strategy__cloud_{{ i }}">
  {% endfor %}
  <div class="container">
    <div class="home-strategy__title">
      Услуги Энвипроджект —
      это индивидуальная стратегия, которую
      мы разрабатываем под ваш запрос
    </div>
    <div class="home-strategy__grid">
      {% for item in items %}
        <div class="home-strategy__item">
          <div class="home-strategy__item-icon"></div>
          <div class="home-strategy__item-content">{{ item.content }}</div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>