.home-about
  position: relative
  margin-bottom: 0
  margin-top: 60px

  &__tree
    transform: scale3d(1,1,1) translateZ(0)
    &_1
      display: none
      height: 90px
      +a(-90px, null, null, 50px)
    &_2
      display: none
      height: 130px
      +a(-120px, null, null, 22%)
      z-index: 2
    &_3
      height: 70px
      +a(-80px, null, null, 15px)
    &_4
      height: 90px
      +a(-80px, null, null, 65%)

  &[data-emergence="visible"] &__tree
    animation: jello-horizontal 1.3s both cubic-bezier(.58,.3,.005,1)
    &_2
      +min(md)
        animation-delay: 0.3s
    &_3
      +min(md)
        animation-delay: 0.7s
    &_4
      animation-delay: 0.3s
      +min(md)
        animation-delay: 1.4s

  &__inner
    position: relative
    background-color: $color-brand-1
    padding: 15px
    &:before
      content: ''
      +a(-91px, null, null, -0.1px)
      +size(calc(100% + 0.1px), 91px)
      +bgi('../img/top-new.svg')

  &__river
    display: none
    +a()

  &__title
    color: #ffd5b4
    font-size: 25px
    margin-bottom: 15px
    +ff('demi')

  &__row
    display: grid
    grid-gap: 20px
    position: relative
    z-index: 1
    margin-bottom: 30px

  &__row-item-content
    display: grid
    grid-gap: 20px

  &__objects
    display: grid
    justify-content: center
    grid-gap: 20px
    position: relative
    z-index: 1

  &__objects-item
    display: grid
    align-items: center
    grid-template-columns: 80px 1fr
    grid-gap: 10px
    &-body
      max-width: 250px
    &-title
      color: #ffd5b4
      font-size: 14px
      margin-bottom: 10px
      +ff('demi')
    &_2
      grid-template-columns: 1fr 80px

    &_2 &-image
      order: 2

    &_1 &-image,
    &_3 &-image
      position: relative
      left: 0

  +min(xs)
    &__objects-item
      grid-template-columns: 130px minmax(150px, 250px)
      &-title
        +fs(18px)
      &_2
        grid-template-columns: 1fr 130px

      &_2 &-image
        order: 2

  +min(md)
    &__tree
      display: block
    &__row
      grid-template-columns: repeat(2, 300px)
      justify-content: space-between
    &__river
      display: block
      height: calc(100% + 32px)
      top: -33px
      left: 221px
      z-index: 1
      &-fish
        +a(75%, null, null, 55%)
    &__title
      font-size: 26px
      margin-bottom: 15px
    &__tree
      &_3
        height: 130px
        +a(-140px, null, null, 50%)
      &_4
        height: 130px
        +a(-100px, null, null, 85%)
    &__inner
      height: 936px
      padding-top: 40px
      padding-right: 40px
      padding-left: 20px
      &:before
        +a(-91px, null, null, -1px)
        +size(calc(100% + 1px), 91px)

    &__objects
      display: block

    &__objects-item
      $item: &
      position: absolute
      display: flex
      align-items: center
      grid-gap: 0
      &-title
        font-size: 20px
      &_1 &-image,
      &_3 &-image
        left: 0
      &_1
        top: 55px
        left: 45px
        flex-direction: row-reverse
        text-align: right
        #{$item}-body
          margin-right: 15px

      &_2
        top: 55px
        left: 40px
        text-align: right
        align-items: flex-end
        #{$item}-body
          margin-right: 15px
          max-width: 360px

      &_3
        top: -45px
        left: 61%
        align-items: baseline
        #{$item}-body
          position: relative
          top: -25px

    html[lang="uk"] &__objects-item_1
      left: 25px

    html[lang="uk"] &__objects-item_2
      top: 115px

    html[lang="uk"] &__objects-item_3
      top: -5px

  &__objects[data-emergence="visible"] &__objects-item-image
    animation: jello-horizontal 1.3s both cubic-bezier(.58,.3,.005,1)
  &__objects[data-emergence="visible"] &__objects-item_2 &__objects-item-image
    animation-delay: 1s
  &__objects[data-emergence="visible"] &__objects-item_3 &__objects-item-image
    animation-delay: 2s

  +min(lg)
    &__row
      grid-template-columns: 330px 370px

    &__river
      height: auto
      top: -32px
      left: 315px
    &__inner
      height: 996px
      padding-left: 40px
      padding-right: 40px
      padding-top: 40px
    &__title
      font-size: 36px
      margin-bottom: 25px
    &__objects-item
      &_3
        left: 63%
        align-items: baseline