.home-about
  position: relative
  margin-bottom: 0

  &__tree
    transform: scale3d(1,1,1) translateZ(0)
    &_1
      display: none
      height: 90px
      +a(-90px, null, null, 50px)
    &_2
      display: none
      height: 130px
      +a(-120px, null, null, 20%)
      animation-delay: 0.8s
    &_3
      height: 130px
      +a(-140px, null, null, 50%)
      animation-delay: 1.2s
    &_4
      height: 130px
      +a(-100px, null, null, 85%)
      animation-delay: 2.2s

  &[data-emergence="visible"] &__tree
    animation: jello-horizontal 1.3s both cubic-bezier(.58,.3,.005,1)
    &_2
      animation-delay: 0.3s
    &_3
      animation-delay: 0.7s
    &_4
      animation-delay: 1.4s

  &__inner
    position: relative
    background-color: $color-brand-1
    &:before
      content: ''
      +a(-91px, null, null, -1px)
      +size(calc(100% + 1px), 91px)
      +bgi('../img/top.png')

  &__river
    display: none
    +a(-32px, null, null, 315px)

  &__title
    color: #ffd5b4
    font-size: 36px
    margin-bottom: 25px
    +ff('demi')

  &__row
    position: relative
    z-index: 1
    margin-bottom: 60px

  &__row-item-content
    display: grid
    grid-gap: 20px

  &__objects
    position: relative
    z-index: 1

  &__objects-item
    &-title
      color: #ffd5b4
      font-size: 20px
      margin-bottom: 10px
      +ff('demi')

  +min(md)
    &__tree
      display: block
    &__row
      display: grid
      grid-template-columns: 330px 370px
      justify-content: space-between
    &__river
      display: block
    &__inner
      height: 996px
      padding-left: 70px
      padding-right: 70px
      padding-top: 40px

    &__objects-item
      $item: &
      position: absolute
      display: flex
      align-items: center
      &_1
        top: 110%
        left: 10%
        flex-direction: row-reverse
        text-align: right
        #{$item}-body
          margin-right: 15px

      &_2
        top: 160%
        left: 9%
        flex-direction: row-reverse
        text-align: right
        align-items: flex-end
        #{$item}-body
          margin-right: 15px
          max-width: 300px

      &_3
        top: -53%
        left: 63%
        align-items: baseline