.home-advantages

  &__title
    color: #fff
    font-size: 25px
    margin-bottom: 30px
    +ff('demi')

  &__row
    position: relative
    display: grid
    grid-gap: 20px
    z-index: 1

  &__river
    margin: 30px -15px 15px -15px
    &-fish
      display: none
      +a(55%, null, null, 85%)

  +min(sm)
    &__row
      grid-template-columns: repeat(3, 1fr)

    &__title
      font-size: 36px

    &__river
      +mx(-30px)

    &__river-fish
      display: block

  +min(md)
    &__river
      +mx(-70px)
    &__row
      grid-template-columns: repeat(3, 290px)
      justify-content: space-between
    &__title
      font-size: 60px
      margin-bottom: 50px