.home-strategy
  position: relative
  overflow: hidden
  margin-top: 0
  margin-bottom: 0
  +py(50px)
  +min(sm)
    +py(100px)
  +min(md)
    +py(150px)

  &__cloud
    display: block
    animation: cloudAnimation 15s linear infinite
    &_1
      +a(30px, null, null, 80%)
      +h(140px)
      animation-delay: 1s
    &_2
      +h(120px)
      +a(45%, null, null, 40%)
      animation-delay: 2s
      +min(sm)
        +h(200px)
    &_3
      +a(70%, null, null, -10%)
      +h(80px)
      animation-delay: 3s
      +min(sm)
        +h(140px)
    &_4
      +a(85%, null, null, 60%)
      +h(90px)
      animation-delay: -5s
      animation-duration: 10s

  &__title
    color: $color-brand-2
    font-size: 19px
    margin-bottom: 30px
    +ff('demi')

  &__grid
    display: grid
    grid-gap: 20px
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr))

  &__item
    position: relative
    padding-left: 50px
    &:nth-child(even)
      font-weight: bold
    &-icon
      +a(0, null, null, 10px)
      +size(20px)
      border-radius: 100%
      background-color: $color-brand-1

    &:nth-child(3) &-icon,
    &:nth-child(5) &-icon,
    &:nth-child(10) &-icon
      background-color: #ffd5b4

    &:nth-child(6) &-icon,
    &:nth-child(7) &-icon
      background-color: #2969c7

    &:nth-child(2) &-icon,
    &:nth-child(4) &-icon,
    &:nth-child(9) &-icon,
    &:nth-child(11) &-icon
      left: 0
      background-color: transparent
      +size(37px, 23px)
      +bgi('../img/mark.svg')
      border-radius: 0

  +min(sm)
    &__title
      font-size: 36px
    &__grid
      grid-template-columns: repeat(2, 1fr)
      grid-gap: 30px

  +min(md)
    &__grid
      grid-template-columns: repeat(3, 1fr)
      grid-gap: 50px
    &__item
      max-width: 300px
    &__title
      +fs(48px)
      max-width: 75%
      margin-bottom: 60px