@font-face
  font-family: 'AvenirNextCyr-Demi'
  src: url('../fonts/AvenirNextCyr-Demi.woff') format('woff'), url('../fonts/AvenirNextCyr-Demi..ttf') format('truetype')
  font-weight: normal
  font-style: normal