@keyframes cloudAnimation
  0%, 100%
    transform: none
  50%
    transform: translateY(30px) scale(0.9)

@keyframes jello-horizontal
  0%,100%
    transform: scale3d(1, 1, 1) translateZ(0)

  25%
    transform: scale3d(1.1, 0.9, 1) translateZ(0)

  50%
    transform: scale3d(0.95, 1.05, 1) translateZ(0)

  75%
    transform: scale3d(1.02, 0.98, 1) translateZ(0)

@keyframes advantagePlaneMobile
  0%
    transform: none
  100%
    transform: translateX(250px) scale(0.8)

@keyframes advantagePlane
  0%
    transform: none
  100%
    transform: translateX(1050px) scale(0.8)

@keyframes complexPlane
  0%
    transform: none
  100%
    transform: translateX(1050px) scale(0.8)

@keyframes aboutFish
  0%, 100%
    transform: translateY(0) rotate(15deg)
  50%
    transform: translateY(15px) rotate(15deg) scale(0.8)

@keyframes aboutFishCircle
  0%, 100%
    transform: none
  50%
    transform: scale(0.8)