.nav__addition
  &-phone
    display: none
    text-decoration: none
    +ff('demi')
    +tr()
    font-size: 12px
    color: #fff

  +min(md)
    display: flex
    align-items: center
    justify-content: flex-end

    &-phone
      display: block
      font-size: 16px
      color: #812e60
      margin-left: 15px
      &:hover
        color: lighten(#812e60, 10%)
      .nav_scrolled &
        color: #fff

  &-translate
    font-size: 0
    ul, li
      list-style: none
    .language-chooser
      display: flex
      align-items: center
      li:not(:last-child)
        margin-right: 10px
    img
      +tr()
      &:hover
        opacity: 0.6