.nav__addition
  &-phone
    display: block
    text-decoration: none
    +ff('demi')
    +tr()
    font-size: 12px
    color: #fff

  &-place
    display: none

  +min(md)
    display: flex
    align-items: center
    justify-content: space-between

    &-place
      display: inline-grid
      grid-template-columns: 10px 1fr
      grid-gap: 10px
      align-items: center
      font-weight: bold

    &-phone
      font-size: 20px
      color: #812e60
      &:hover
        color: lighten(#812e60, 10%)