.nav
  $nav: &
  &__menu
    ul
      +min(md)
        display: flex
        justify-content: flex-end
        align-items: center
    li
      display: block
      margin-bottom: 10px

      a
        display: block
        position: relative
        text-decoration: none
        padding: 10px 15px
        color: $color-white
        font-weight: bold
        +tr()

      &.current-menu-item a
        color: $color-brand-3

      +min(md)
        margin-bottom: 0

        a
          color: #848484
          &:hover
            color: $color-brand-3
  +min(md)
    &_scrolled li a
      color: $color-white