.icon
  &_vertical &
    &__header
      text-align: center
      margin-bottom: 30px
    &__image
      height: 100px
  &_horizontal
    display: grid
    grid-template-columns: 70px 1fr
    grid-gap: 15px
    align-items: center