.section-content
  p
    margin-bottom: 15px
  ul
    list-style: none
    padding-left: 0
    margin-top: 25px
    margin-bottom: 25px

    li
      position: relative
      padding-left: 45px
      margin-bottom: 15px
      &:before
        content: ''
        +a(0, null, null, 0)
        +size(31px)
        +bgi('../img/check.svg')

  +min(md)
    font-size: 22px