.service-rating-order
  &__item
    position: relative
    display: grid
    grid-template-columns: 40px 160px
    color: #fff
    grid-gap: 15px
    cursor: pointer
    padding-left: 30px
    padding-bottom: 40px
    z-index: 1

    &:before,
    &:after
      content: ''
      position: absolute
      left: 0
      top: 0
      width: 15px
      height: 100%

    &:before
      background-color: darken($color-brand-1, 5%)

    &:after
      background-color: $color-brand-3
      transition: all ease 0.3s 0.3s
      height: 0

    &-title
      +ff('demi')
      +fs(70px)
      line-height: 1
      color: #fff
      +tr()
      transition-delay: 0.6s

  &__item.scroll-active:after
    height: 100%

  &__item.scroll-active &__item-title
    color: $color-brand-3

  &__item[data-order-index="1"]:before,
  &__item[data-order-index="1"]:after
    border-radius: 15px 15px 0 0

  &__item[data-order-index="6"]:before,
  &__item[data-order-index="6"]:after
    border-radius: 0 0 15px 15px

  &__item[data-order-index="6"]
    padding-bottom: 0

  &__slider
    display: none
    +my(25px, 40px)
    +size(100%, 36px)
    background-color: #00a900
    border-radius: 30px
    overflow: hidden
    &-control
      position: relative
      height: 100%
      border-radius: 30px
      background-color: $color-brand-3
      +tr()
      width: 0
      left: -10px
      &:before
        content: ''
        +a(0, -10px)
        +size(55px, 36px)
        +bgi('../img/slider-end.svg')

  +min(sm)
    &__grid
      display: grid
      grid-template-columns: repeat(3, 1fr)
      grid-gap: 30px
    &__slider
      display: block

    &__item
      grid-gap: 40px
      padding: 0
      &:before,
      &:after
        display: none
      &-title
        transition-delay: 0s
    &__item.active &__item-title
      color: $color-brand-3