<section class="section service-atmosphere-order">
  <div class="container">
    <div class="section-header">
      <h3 class="section-header__title service-atmosphere-order__title">{{ post.get_field('order-title') }}</h3>
    </div>
    <div class="service-atmosphere-order__grid">
      {% for item in post.get_field('order-steps') %}
        {% include 'partial/icon.twig' with {
          icon_class: 'icon_horizontal',
          title: item.content,
          image: item.image
        } %}
      {% endfor %}
    </div>
    <div class="section-footer">
      <a href="#contacts" class="btn btn_brand-3 effect effect_bounce-top anchor">
        {{ post.meta('order-footer').button }}
      </a>
    </div>
  </div>
</section>