<div class="circle-item {{ custom_class }}">
  <div class="circle-item__header">
    <div class="circle-item__circle"></div>
    <div class="circle-item__title">{{ title }}</div>
  </div>
  <div class="circle-item__content">
    {{ content }}
  </div>
</div>