<div class="icon {{ icon_class }}">
  <div class="icon__header">
    <img src="{{ image }}" alt="{{ title|striptags }}" class="icon__image">
  </div>
  <div class="icon__title">{{ title | raw }}</div>
</div>