<div class="step-item {{ custom_class }}">
  <div class="step-item__number">{{ number }}</div>
  <div class="step-item__title">{{ title }}</div>
  <div class="step-item__content">{{ content }}</div>
</div>